Package: com.nicksworks.roadrunnerreborn
Name: RoadRunner Reborn
Version: 1.0.0
Architecture: iphoneos-arm64
Description: RoadRunner Reborn preserves Now Playing media and selected applications through SpringBoard resprings on modern iOS jailbreaks.
Maintainer: Nick's Works <hadobedo@gmail.com>
Author: Nick's Works (Hadobedo)
Homepage: https://github.com/hadobedo/RoadRunnerReborn
Section: Tweaks
Depends: firmware (>= 15.0), ellekit, preferenceloader, com.opa334.altlist
Conflicts: com.nick.keepthepartygoing, se.nosskirneh.roadrunner
Replaces: com.nick.keepthepartygoing, se.nosskirneh.roadrunner
SileoDepiction: https://hadobedo.github.io/repo/depictions/com.nicksworks.roadrunnerreborn.json
Depiction: https://hadobedo.github.io/repo/depictions/com.nicksworks.roadrunnerreborn.html

